<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.dao.jzxx.WhAttachementsMapper" >
  <resultMap id="BaseResultMap" type="com.wh.entity.WhAttachements" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="link_id" property="linkId" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
    <result column="file_note" property="fileNote" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wh.entity.WhAttachements" extends="BaseResultMap" >
    <result column="image_detail" property="imageDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, link_id, file_name, file_path, file_type, file_size, file_note, type, num,create_time
  </sql>
  <sql id="Blob_Column_List" >
    image_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wh_attachements
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="getFilePathByLinkId" resultType="java.util.Map" parameterType="java.lang.String" >
    SELECT a.`file_path` FROM `wh_attachements` a WHERE a.`link_id` = #{linkId,jdbcType=VARCHAR}
  </select>
  
  <select id="queryAttachsById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
  	select 
  	<include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wh_attachements
    where link_id = #{linkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wh_attachements
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wh.entity.WhAttachements" >
    insert into wh_attachements (id, link_id, file_name, 
      file_path, file_type, file_size, 
      file_note, type, num, 
      image_detail,create_time)
    values (#{id,jdbcType=VARCHAR}, #{linkId,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR}, 
      #{fileNote,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{num,jdbcType=INTEGER}, 
      #{imageDetail,jdbcType=LONGVARCHAR},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wh.entity.WhAttachements" >
    insert into wh_attachements
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="linkId != null" >
        link_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="fileNote != null" >
        file_note,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="imageDetail != null" >
        image_detail,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="linkId != null" >
        #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileNote != null" >
        #{fileNote,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="imageDetail != null" >
        #{imageDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.entity.WhAttachements" >
    update wh_attachements
    <set >
      <if test="linkId != null" >
        link_id = #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileNote != null" >
        file_note = #{fileNote,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="imageDetail != null" >
        image_detail = #{imageDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wh.entity.WhAttachements" >
    update wh_attachements
    set link_id = #{linkId,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=VARCHAR},
      file_note = #{fileNote,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      num = #{num,jdbcType=INTEGER},
      image_detail = #{imageDetail,jdbcType=LONGVARCHAR}
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.entity.WhAttachements" >
    update wh_attachements
    set link_id = #{linkId,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=VARCHAR},
      file_note = #{fileNote,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      num = #{num,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>