<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.dao.msp.MspPlatformMapper" >
  <resultMap id="BaseResultMap" type="com.wh.mspentity.MspPlatform" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
    <result column="corpid" property="corpid" jdbcType="VARCHAR" />
    <result column="corpsecret" property="corpsecret" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastTokenTime" property="lasttokentime" jdbcType="TIMESTAMP" />
    <result column="agentId" property="agentid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, access_token, corpid, corpsecret, code, contact, createTime, lastTokenTime, agentId, 
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from msp_platform
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from msp_platform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wh.mspentity.MspPlatform" >
    insert into msp_platform (id, access_token, corpid, 
      corpsecret, code, contact, 
      createTime, lastTokenTime, agentId, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{accessToken,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR}, 
      #{corpsecret,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lasttokentime,jdbcType=TIMESTAMP}, #{agentid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wh.mspentity.MspPlatform" >
    insert into msp_platform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accessToken != null" >
        access_token,
      </if>
      <if test="corpid != null" >
        corpid,
      </if>
      <if test="corpsecret != null" >
        corpsecret,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="lasttokentime != null" >
        lastTokenTime,
      </if>
      <if test="agentid != null" >
        agentId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null" >
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="corpsecret != null" >
        #{corpsecret,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttokentime != null" >
        #{lasttokentime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentid != null" >
        #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.mspentity.MspPlatform" >
    update msp_platform
    <set >
      <if test="accessToken != null" >
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null" >
        corpid = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="corpsecret != null" >
        corpsecret = #{corpsecret,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttokentime != null" >
        lastTokenTime = #{lasttokentime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentid != null" >
        agentId = #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.mspentity.MspPlatform" >
    update msp_platform
    set access_token = #{accessToken,jdbcType=VARCHAR},
      corpid = #{corpid,jdbcType=VARCHAR},
      corpsecret = #{corpsecret,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastTokenTime = #{lasttokentime,jdbcType=TIMESTAMP},
      agentId = #{agentid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
    <select id="queryAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from msp_platform
  </select>
  
  
</mapper>